.field{
    border: solid black 2px ;
}

.field td{
    border:solid black 2px ;
    height:50px ;
    width:50px ;
}

.start {
    background-image: url(../images/start-line-svgrepo-com.svg) ;
}

.chosen {
    background-color: tomato;
}

.show{
    background-image: url(../images/finish-svgrepo-com.svg) ;
}



/* startPage */
/* .startPage{
    display:flex ;
    flex-direction:column ;
    margin-left:center ;
    margin-right:center ;
}

.startBtn {
    width: 30%;
}  */
